lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
public/javascripts

npm-debug.log
node_modules

config/default.yml
config/production.yml
config/development.yml
config/runtime.json
