extends layout

block content
  div#o1.overlay
    div.contentbox
      h1 #{title}
      p 
        | Projekt odvis.at - Marius Schebella
      p      
        | Fachhochschule Salzburg GmbH <br />
        | Urstein Süd 1 <br />
        | 5412 Puch/Hallein <br />
  