extends layout

block content    
  div#left-navbar 
    div.navarea.navbar-inverse 
      div.header
        div.btn_back2
        div.btn_back1
        h1 .
      div.searchbar
      div#scroll
        ul#datanav.nav.nav-list
        div.clearfix
    div.tabbable.verticaltabs-container
      a#x(data-toggle="tab")
            i.glyphicon.glyphicon-remove
      ul.nav.nav-tabs
        li#search.active
          a(data-toggle="tab")
            span.title Daten auswählen
        li#mydata
          a(data-toggle="tab")
            span.title Anzeige gestalten
        li#embed
          a(data-toggle="tab")
            span.title Einbetten
