body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.development .navbar-inverse {
  background-color: #ff2222;
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #ff2222 100%);
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

h2{
  font-size: 16px;
  margin-top: 10px;
}

p{
  margin: 0;
  margin-bottom: 20px;
}

#logo {
  height: 22px;
}

/* bootstrap -------------------------------------------------------------------- */

.navbar{
  margin: 0;
  border: none;
}

.nav.nav-list {
  max-width: 250px;
}

.overlay{  
  position: relative;
  top:70px;  
  width:100%;
  z-index: 1000;
  
}

.contentbox{
  -webkit-box-shadow: 0px 0px 5px 0px #666;
  box-shadow: 0px 0px 5px 0px #666; 
  border-radius: 3px;
  background-color: #FAFAFA;
  padding: 40px;
  margin-bottom: 50px;
}

#visualize .container{
  max-width: 2000px;
}

.light{
  background-color: #FFFFFF;
}

.btn-primary {
  margin-top: 20px;
}

/* left navbar ------------------------------------------------------------------ */


#left-navbar{
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  float: left;
}

#left-navbar .navarea ul {
  float: left;
  margin-top: 3px;
}

#left-navbar .navarea li ul{
  margin:0;
  margin-bottom: 20px;
  padding:0;
}

#left-navbar .navarea li, #left-navbar .navarea li li {
  float: left;
  border-bottom: 1px solid #444444;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-left: 4px;
  margin-right: 4px;
  color: #F9F9F9;
  font-size: 14px;
  width: 210px;
  list-style-type: none;
  padding-left: 0;
}

#left-navbar .navarea li a{
  padding: 2px 3px;
  border-radius: 4px;
  width: inherit;
  height: inherit;
}

#left-navbar .navarea li .glyphicon{
  padding: 2px 3px;
  border-radius: 4px;
  width: 22px;
  height: 22px;
}

#left-navbar .navarea h2{
  border-bottom: 1px solid #444444;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 5px;
}

#left-navbar .navarea input{
  background-color: transparent;
  margin-right: 5px;
}

#datanav p {
  color: #F9F9F9;
  margin-top: 20px;
  margin-left: 10px;
}

#datanav li:last-child {
  border-bottom: none;
}

#datanav li.active a{
  background-color: #428bca;
  color: #FFF;
}

#left-navbar .navarea{
  position: relative;
  height: 100%;
  width: 250px;
  bottom: 0px;
  left: 0px;
  border-radius:0;
  padding: 5px;
  float: left;
  transition:all 0.3s ease;
}

#left-navbar .navarea.closed{
  padding: 0;
  width: 0;
  overflow: hidden;
}

#left-navbar .navbar-inverse {
  background-color: #333333;
  background-image: none;
  
}

#left-navbar .header {
  position: relative;
  float: left;
/*  color: #FFFFFF;
  background-color: #CCCCCC; */
  width: 100%;
  padding: 5px;  
  border-radius: 3px;
}

#left-navbar .header > div {
  position: absolute;
  top: 5px;
  bottom: 5px;
  background-color: #333333;
  width: 20px;
  min-height: 20px;
  background-position: center;  
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
}

#left-navbar .header > div:hover {
  cursor: pointer;
}

#left-navbar .header .btn_back2{
  background-image: url('../images/btn_back2.gif');
  visibility: hidden;
  left: 5px;
}

#left-navbar .header .btn_back1{
  background-image: url('../images/btn_back1.gif');
  visibility: hidden;
  left: 5px;
}

#left-navbar .header h1 {
/*  color: #333333 !important; */
  color: white !important; 
  display: block;
  font-size: 16px;
  font-weight: bold;  
  margin: 2px 5px 0 55px;   
}

#left-navbar .navarea img {
  float: left;
  margin-right: 5px;
}

.verticaltabs-container {
  position: relative;
  min-height: 454px;
  bottom:0px;
  width: 50px;
  overflow: hidden;
  float: left;
}

.verticaltabs-container > .nav-tabs {
  display: block;
  position: relative;
  top: 0;
  left: 56px;
  width: 1000%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translateX(-24px) rotate(90deg);
  -moz-transform: translateX(-24px) rotate(90deg);
  -ms-transform: translateX(-24px) rotate(90deg);
  -o-transform: translateX(-24px) rotate(90deg);
  transform: translateX(-24px) rotate(90deg);
}

.verticaltabs-container > .nav-tabs a {
  background-color: #666666;
  padding: 4px 10px;
  color: #999999;
}

.verticaltabs-container > .nav-tabs li > a:hover {
  background-color: #666666 !important;
  border: 1px solid #666666;
  color: #F9F9F9;
  padding: 5px 10px;
  bottom: 2px;
  cursor: pointer;
}

.verticaltabs-container > .nav-tabs li.active a:hover{
  background-color: #333333 !important;
}

.verticaltabs-container > .nav-tabs li.active a {
  background-color: #333333;
  border: 1px solid #333333;
  color: #428BCA;
  padding: 5px 10px;
  bottom: 2px;
}

#left-navbar #x {
  display: block;
  background-color: #333333;
  border: 1px solid #333333;
  bottom: 2px;
  width: 34px;
  height: 36px;
  padding: 6px;
  padding-left: 7px;
  color: #CCCCCC;
  border-radius: 0 4px 4px 0;
  margin-bottom: 3px;
}

#left-navbar #x:hover {
  cursor: pointer;
}

#scroll{ 
  float: left;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  top: 40px;
  width: 235px;
  
}

.verticaltabs-container > .nav-tabs .title {
  display: block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.verticaltabs-container > .tab-content {
  position: absolute;
  top: 0;
  right: 58px;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}


/* map -------------------------------------------------------------------------- */

#mapContainer{ 
  background-color: #666666;
  position: absolute !important;
  z-index: 500;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;
}

#visualize #mapContainer{
  top: 85px;
}


/* clearfix ---------------------------------------------------------------------- */
.clearfix{  
  clear: both;
}
